
body{
    background-image: url(background.jpg);
    background-size: 100%;
}

.quadrato{
    width: 850px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    margin: 20px auto;
}

div > img{
    width: 175px;
    height: 80px;
    padding: 70px 0px 0px 330px;
}

.nav,h2{
    line-height: 5px;
    text-align: center;
    color: rgb(50, 252, 0);
    font-family:'Poppins', sans-serif;
    font-weight: 3000;
}

.nav > section{
    color: black;
    background-color: rgb(50, 252, 0);
    padding: 5px;
    margin: 0px 70px 0px 70px;
}

button:hover{
    color: white;
    background-color: rgb(50, 252, 0);
}

.body section{
    font-style: bold;
    font-family:'Poppins', sans-serif;
    font-size: small;
    color: white;
    line-height: 3px;
    padding: 1px 0px 5px 70px;
}

.lightorange{
    width: 250px;
    height: 15px;
    background-color: rgb(252, 149, 80);
    border-radius: 5px;
    margin-bottom: inherit;
}

.green{
    width: 430px;
    height: 15px;
    background-color: rgb(50, 252, 0);
    border-radius: 5px; 
    margin-bottom: inherit;
}

.red{
    width: 100px;
    height: 15px;
    background-color: rgb(163, 63, 63);
    border-radius: 5px; 
    margin-bottom: inherit;
}

i{
    font-size: 8px;
}